.posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 90%;
    margin: auto;
}
.searchform{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 90%;
    height: 100px;
    border: 1px solid red;
    margin: auto;
}
