.post{
    display: flex;
    width: 250px;
    height: 300px;
    border: 1px solid grey;
    align-items: flex-start;
    padding: 0.2rem;
    margin: 0.2rem;
    flex-flow: column wrap;
}
.postimage{
    display: flex;
    width: 100%;
    height: 70%;
}
.postimage img {

    width: 100%;
    height: 100%;
   
}
.postinfo{
    display: flex;
    width: 100%;
    height: 30%;
    /* border: 1px solid black; */
    flex-flow: column wrap;
    align-items: flex-start;
    padding: 0.5rem;
}
.postinfoitems{
    display: flex;
    align-items: center;
    flex-direction: row;
   justify-content: space-between;
    width: 100%;
    height: 33.33%;
    /* border: 1px solid grey; */
}
.postinfoitems p{
    font-family: tahoma;
    font-size: 0.6rem;
}
