.fullpost {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 90%;
    margin: auto;
    border: 1px solid red;
}
.postdetails{
    display: flex; 
    flex-flow:  row wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 400px;
    border: 1px solid black;
    
}
.postimage{
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    width: 100%;
    height: 400px;
    /* margin: 0 10%; */
    border: 1px solid blue;

}
.postimage img {
    display: flex;
    width: 100%;
    height: 100%;
}
.highlights{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border: 1px solid grey;
    padding: 1rem;
    margin: 1rem 0;
}
.items{
    display: flex;
  
}
.reviews{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 50%;
    height: 200px;
    /* margin: 0 10%; */
    border: 1px solid blue;
}
.reviewsscreen{
    display: flex;
    flex-flow: row wrap;
    /* justify-content: flex-start; */
    width: 100%;
    height: auto;
    /* margin: 0 10%; */
    border: 1px solid red;
    
}
.singlereview{
    display: flex;
    height: auto;
    width: 100%;
    border: 1px solid green;
}
.singlereview > p{
    display: flex;
    min-width: 60px;
 
}
.reviewsLabel{
display: flex;
height: auto;
 align-items: center;
}

@media (max-width: 768px) {
    .reviews {
        width:100%!important;
        
    }
}